._1block {
    text-align: center;
    position: absolute;
    height: 250px;
    width: 250px;
}

.gio {
    width: 100%;
}

._1block {}

i.fa.fa-lightbulb-o {
    position: relative;
    font-size: 150px;
    cursor: pointer;
}

.active{
    color: yellow;
}

input {
    width: 50px;
    margin: 0 10px;
}